<% @movies.each do |movie| %>
  <div>
    <%= movie.id %> <br>
    <%= movie.title %> <br>
    <%= movie.description %> <br>
    <%= movie.category %>
    <%= link_to 'Show', movie_path(movie) %>
    <%= button_to "Delete", movie, :method => :delete %>
  </div> <br>
<% end %>
