<% @movies.each do |movie| %>
  <div>
    <%= movie.title %> <br>
    <%= movie.description %> <br>
    <%= movie.category %>
    <div id="movie-<%= movie.id %>" class="rating">
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="10"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="9"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="8"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="7"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="6"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="5"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="4"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="3"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="2"><i class="fa-regular fa-star"></i></a>
      <a class="star" onclick="sendMovieRating(this, `${<%= movie.id %>}`)"  value="1"><i class="fa-regular fa-star"></i></a>
    </div>
    <%= link_to 'Show', movie_path(movie) %>
    <%= button_to "Delete", movie, :method => :delete %>
  </div>
  <br>
  <script>
    function sendMovieRating(itemValue, movieId){

      itemValue.classList.add("active");

      let stars = document.querySelectorAll(".rating > a.active ~ a")
      for (const activeStar of stars) {
         activeStar.classList.add("active");
      }

      let movieRatingObj = {
              rating: itemValue.getAttribute('value'),
              movie_id: movieId
          }
          const BASE_URL = window.location.origin;
          fetch(`${BASE_URL}/ratings`, {
              method: 'POST',
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(movieRatingObj)
          })
      };
  </script>
<% end %>
