<h5 class="card-body"><%=link_to 'All',
    root_path,
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Action',
    "#{movies_path(@movie)}?category=Action",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Comedy',
    "#{movies_path(@movie)}?category=Comedy",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Drama',
    "#{movies_path(@movie)}?category=Drama",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Fantasy',
    "#{movies_path(@movie)}?category=Fantasy",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Horror',
    "#{movies_path(@movie)}?category=Horror",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Mystery',
    "#{movies_path(@movie)}?category=Mystery",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Romance',
    "#{movies_path(@movie)}?category=Romance",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Thriller',
    "#{movies_path(@movie)}?category=Thriller",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>
    <h5 class="card-body"><%=link_to 'Westerm',
    "#{movies_path(@movie)}?category=Westerm",
    class:"btn btn-sm text-dark text-decoration-none link-warning"%></h5>