<h2 class="text-center">Sign in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="container d-flex d-flex justify-content-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 p-2">
      <div class="form-outline mb-4">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-outline mb-4">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <div class="form-check">
            <div class="field">
              <%= f.check_box :remember_me, class:"form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <%= f.submit "Sign in", class: "btn btn-primary btn-block mb-4" %>
      </div>
      <div class="text-center">
        <p>Not a member? <%= render "devise/shared/links" %></p>
      </button>
    </div>
  </div>
</div>
<% end %>
